// If you want to override variables do it here
@import "variables";

// Import styles
@import "@coreui/coreui/scss/coreui";
@import "@coreui/chartjs/scss/coreui-chartjs";

// Vendors
@import "vendors/simplebar";

// Custom styles for this theme
@import "theme";

// If you want to add custom CSS you can put it here
@import "custom";

.form-feedback {
  font-size: 14px;
  color: #ff0000;
  margin-top: 5px;
}

.pos-container{
  max-width: 900px;
  padding-top: 1rem;
}

.card-header {
  /* background-color: #f8f9fa;
  border-bottom: 1px solid #ddd; */
  text-align: center;
  font-weight: bold;
  /* padding: 10px; */
}
